# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.DS_Store
package-lock.json
yarn-error.log
node_modules
.cache/
.env.*
# Build directory
public
static/admin/*.bundle.*
.DS_Store
.env.*
temporary-exclude-files/
