@charset "utf-8"
@import "~bulma/sass/utilities/initial-variables"
    
//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $primary !important
$menu-item-hover-background-color: $primary
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter

$border : #B11C2F
// $text-strong: hsl(0, 0%, 21%)
// $content-table-cell-border: 1px solid $border
$content-table-cell-border-width: .5px .5px .5px
// $content-table-cell-padding: 0.5em 0.75em
// $content-table-cell-heading-color: $text-strong
$content-table-head-cell-border-width: .5px .5px 2px
// $content-table-head-cell-color: $text-strong
$content-table-body-last-row-cell-border-bottom-width: 2px